/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
  }
  
  /* Barra lateral */
  .barra {
    width: 250px;
    height: 100vh;
    background-color: #2C3E50;
    color: #fff;
    padding-top: 20px;
    position: fixed;
  }
  
  .menu-activ0 {
    background-color: #1abc9c00;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #16a084;
  }
  
  .menu-item {
    padding: 15px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #34495e;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #34495e;
  }
  
  .menu-item p {
    margin: 0;
    font-weight: 500;
  }
  
  /* Contenido principal */
  .content {
    margin-left: 270px;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #2C3E50;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #7f8c8d;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .barra {
      width: 200px;
    }
  
    .content {
      margin-left: 220px;
    }
  }
  
  @media (max-width: 480px) {
    .barra {
      width: 100%;
      height: auto;
    }
  
    .content {
      margin-left: 0;
    }
  
    .menu-item {
      font-size: 14px;
    }
  }


  table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #b30000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #b10000;
}


th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
}


td {
    padding: 12px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ddd;
    color: white;
}

.noticias-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.noticia {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.noticia:hover {
  transform: translateY(-10px);
}

.noticia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.noticia-content {
  padding: 20px;
}

.noticia h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.noticia p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

.fecha {
  font-size: 0.9em;
  color: #999;
  margin-top: 10px;
}